<?xml version="1.0" encoding="UTF-8"?>

<!-- New configuration -->

<Configuration status="INFO" name="log-test" packages="org.practice.log4j2.cpl">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="{content-type : %ct} {User-Agent : %ua} %n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>